body, html {
    padding: 0;
    margin: 0;
    position: relative;
}

.header {
    background: #ccc;

    h2 {
        text-align: center;
        margin: 0;
        padding: 10px 0;
        font: 600 18px 'Open Sans';
        text-transform: uppercase;
    }
}