.info {
    border: 1px solid #000000;

    .info-heading {
        text-align: center;
        font: 600 18px 'Open Sans';
        color: #900;
        border-bottom: 2px solid #000000;
        margin: 0;
        padding: 20px;
    }

}
